:root {
  --columns: 4;
  --column-gap: 6.67%;
}
@media (min-width: 768px) {
  :root {
    --columns: 12;
    --column-gap: 2.27%;
  }
}
@media (min-width: 1280px) {
  :root {
    --columns: 12;
    --column-gap: 2.19%;
  }
}

.grid {
  margin: 0 16px;
}
@media (min-width: 768px) {
  .grid {
    margin: 0 32px;
  }
}
@media (min-width: 1280px) {
  .grid {
    margin: 0 80px;
  }
}
@media (min-width: 1440px) {
  .grid {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.grid,
.subgrid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: var(--column-gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  position: relative;
}